body{
    font-family: 'Roboto', sans-serif;
    background: #870000;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #190A05, #870000);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #190A05, #870000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

#container{
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    width: 360px;
    margin: 100px auto; 
    background-color: #f7f7f7;
}

h1{
    background-color: #891717;
    color:white;
    margin: 0;
    padding:10px 20px;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: normal;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

li{
    background-color: white;
    height: 40px;
    line-height: 40px;
    color: #666;
}

li:nth-child(2n){
    background-color: #f7f7f7;
}

li:hover span{
    width: 40px;
    opacity: 1.0;
}

input{
    font-size: 18px;
    background-color: #f7f7f7;
    width: 100%;
    padding: 13px 13px 13px 20px;
    box-sizing: border-box;
    color: #2980b9;
    border: rgba(0, 0, 0, 0);
}

input:focus{
    background-color: white;
    border: 3px solid #2980b9;
    outline:none;
}

span{
    background-color: #e74c3c;
    height: 40px;
    margin-right: 20px;
    text-align: center;
    color:white;
    width: 0;
    display: inline-block;
    transition:linear 0.2s;
    opacity:0;
}

.completed{
    color:gray;
    text-decoration: line-through;
}

.fa-pencil-alt{
    float: right; 
}


